
<link href="/Css/virtualKey.css" rel="stylesheet" />


@*    برای استفاده حتما اینپوت ها و تکست اری ها داخل المنتی با کلاس     virtualKey باشند*@
<div class="virtualKey">
    <input class="" type="text" id="input1" placeholder="وارد کنید">
    <input class="" type="text" id="input2" placeholder="وارد کنید">
<textarea></textarea>
</div>

@*    جهت اضافه کردن کیبود هر جا که تمایل دارید المنتی با نام keyboard بسازید*@
<div class="keyboard"></div>



<script src="/Js/jquery.js"></script>
<script src="/Js/VirtualKey.js"></script>





@*
    برای استفاده حتما اینپوت ها و تکست اری ها داخل المنتی با کلاس     virtualKey باشند


    جهت اضافه کردن کیبود هر جا که تمایل دارید المنتی با نام keyboard بسازید

*@